
@import "base.scss";

/* Target IE 6, 7 and 8 */

// Assuming a mobile first approach with respond.js OFF, we must reset the font size for lt IE9
html {
  font-size: 81.3%;
}

/* Contact Us Page */

#contact {
	
	.region-two-33-66-second {
    width: 66.6667%;
	}
	.region-two-33-66-first {
		width: 33.3333%;
	}

}