/**
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - There is an scss (SASS) version of this file in the /sass/ directory in your
 *   sub-theme, if you set Compass to watch it or the directory this file will be
 *   overwritten!
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000318}}
html {
  font-size: 112.5%;
  /* Increase the body font size on small devices */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000324}}
.pane-menu-menu-leader-menu {
  position: absolute;
  right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000329}}
#name-and-slogan {
  font-size: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000334}}
#nav-wrapper .primary-menu-wrapper .primary-menu {
  text-align: center;
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000337}}
#nav-wrapper .primary-menu-wrapper .primary-menu li {
  float: none;
  background: none;
  display: inline;
}

/* Case Studies */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000347}}
.view-case-studies .views-row {
  width: 50%;
  font-size: 0.8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000351}}
.view-case-studies .views-row-first {
  width: 100%;
}

/* Client grid */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000358}}
.pane-client-grid-panel-pane-1 .views-quicksand {
  width: 33%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000364}}
#mini-panel-footer .region-inner {
  margin-left: 2em;
}

/* Services */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000369}}
.page-services .view-content.serviceLocked {
  left: 0;
  top: 4.3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000375}}
.view-services .attachment ul {
  text-align: left;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000376}}
.view-services .attachment li {
  display: block;
  margin-bottom: .3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000377}}
.view-services .attachment a {
  padding: 1%;
  margin-left: 2.9em;
  height: 1em;
  padding: .4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000379}}
.view-services .views-row img.image-style-none {
  padding-top: 0em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000382}}
.view-services .views-row-1 img.image-style-none {
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000383}}
.view-services .views-row #node-301, .view-services .view-services .views-row #node-302, .view-services .view-services .views-row #node-303, .view-services .view-services .views-row #node-304, .view-services .view-services .views-row #node-305 {
  padding-top: 11em;
  margin-top: -11em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.smartphone\.landscape\.scss}line{font-family:\0000387}}
.view-services img {
  float: none !important;
}
