
@import "base.scss";



//
// global.base.scss
// This is a big reset for html elements to set up global defaults.
//

//
// Fonts
//
// By default there is no global font size is reset. A common
// method is to reset it to 62.5%, or 10px. This makes it very
// easy to calculate the required font sizes in em, for example:
//
// 1.6em = 16px
// 2.4em = 24px
//
// In Adaptivetheme this should be applied to the HTML element,
// so it will play nicely with the theme settings. If you use
// the body element or #page wrapper you will get unpredicable
// font scaling issues.
//
// Font size chart from http://pxtoem.com/
//
// 6px	 0.6em	 60%	 5pt
// 7px	 0.7em	 70%	 5pt
// 8px	 0.8em	 80%	 6pt
// 9px	 0.9em	 90%	 7pt
// 10px	 1em	   100%	 8pt
// 11px	 1.1em	 110%	 8pt
// 12px	 1.2em	 120%	 9pt
// 13px	 1.3em	 130%	 10pt
// 14px	 1.4em	 140%	 11pt
// 15px	 1.5em	 150%	 11pt
// 16px	 1.6em	 160%	 12pt
// 17px	 1.7em	 170%	 13pt
// 18px	 1.8em	 180%	 14pt
// 19px	 1.9em	 190%	 14pt
// 20px	 2em	   200%	 15pt
// 21px	 2.1em	 210%	 16pt
// 22px	 2.2em	 220%	 17pt
// 23px	 2.3em	 230%	 17pt
// 24px	 2.4em	 240%	 18pt
//
//
// Font Theme Settings
//
// Adaptivetheme includes powerful theme settings for adding
// webfonts and setting font sizes - you can enable these
// under "Site Tweaks", simply enable the Fonts setting and
// start using them. You can choose from standard websafe font
// stacks, Google fonts, add your own custom stacks, and if you
// have @font-your-face module installed just set the font to
// "-- add selector in theme CSS --" and the font will automatically
// be available to you in theme settings.
// @see http://drupal.org/project/fontyourface
//
//
// Font Stacks
//
// These are the font stacks that used for the websafe fonts
// in theme settings (if you enabled the Fonts feature). They are
// included here for easy reference if you prefer to set your fonts
// in CSS.
//
// font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, Helvetica, sans-serif;
// font-family: Verdana, Geneva, 'DejaVu Sans', Arial, Helvetica, sans-serif;
// font-family: Arial, Helvetica, sans-serif;
// font-family: Calibri, Candara, Arial, Helvetica, sans-serif;
// font-family: Segoe UI', 'Myriad Pro', Myriad, Arial, Helvetica, sans-serif;
// font-family: 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Grande', Verdana, Geneva, sans-serif;
// font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', sans-serif;
// font-family: Garamond, Perpetua, 'Times New Roman', serif;
// font-family: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
// font-family: Consolas, Monaco, 'Courier New', Courier, monospace, sans-serif;
//


// Always apply your global font size the the HTML element, not body or #page
html {
  line-height: 1.5;
  height: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}


body {
	background: url('images/bedge_grunge.jpg') fixed;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin:0;
  background-color: white;
  color: #3B3B3A;
}


h1, h2, h3, h4, h5, h6,
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img,
em, dfn, del, ins,
a, tbody, tfoot, thead, tr,
ul, li,
label, legend,
figure, figcaption {
  margin: 0;
  padding: 0;
}


// Reset HTML5 elements
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}


// Default font sizes for headings, can be overridden in theme settings or set them here
h1 { 
	color:$red;
	/*text-transform:uppercase;*/
	font-size:2.2em;
	margin-bottom:.7em;
	}
h2 {
	color:$red;
	font-size:1.7em;
	margin-bottom:.7em;
	}
h3 {
	color:$blue;
	font-size:1.4em;
	margin-bottom:.7em;
}
h4 {
	color:$dark-grey;
	margin-bottom:.2em;
	}
	
h5, h6 {}

h1#site-name {

	color:$red;
	font-size:2em;
}

a { color:$blue;}

img,
a img {
  border: 0;
}


p {
  margin: 0 0 1.5em;
  padding: 0;
  line-height: 1.7em;
}


em,
dfn {
  font-style: italic;
}


ins {
  border-bottom: none;
  text-decoration: none;
}


pre,
code,
tt,
samp,
kbd,
var {
  font-size: 1em;
  font-family: Consolas, "Lucida Console", Menlo, Monaco, "DejaVu Sans Mono", monospace, sans-serif; // sans-serif Safari hack
}


blockquote,
q {
  font-style: italic;
  quotes: "" "";
  &:before, &:after {
    content: "";
  }
}


blockquote {
  margin: 0 0 1.5em;
  padding: 0 0 0 2em;

  p {
    margin: 0;
  }
}


strong,
dfn,
caption,
th {
  font-weight: 700;
}


ul,
ol {
  margin: 0 0 1.1em 2.5em;
  padding: 0;
  line-height: 1.7em;
}

.fourohfour {
	margin:auto;
	margin-top:2em;
	display:block;
}
	
.item-list {

  ul, ol {
    margin: 0 0 0 1.5em;
    padding: 0;
  }

  ul li {
    margin: 0;
    padding: 0;
  }
}


ul, ol {

  ul, ol {
    &, .block &, .item-list & {
      margin-bottom: 0;
    }
  }
}


ul {
  list-style-type: disc;

  ul ul {
    list-style-type: square;
  }
}


ol {
  list-style-type: decimal;

  ol {

    list-style-type: lower-alpha;

    ol {
      list-style-type: lower-roman;
    }
  }
}


ul ul {
  list-style-type: circle;

  ul ul {
    list-style-type: circle;
  }
}


dt {
  font-weight: 700;
}


dd {
  margin: 0 0 1.5em 2.5em;
}

// TOP MENU

#nav-wrapper {
	width:100%;
	.container { 
		width:100%; 
		max-width:100%;
		background-color:$charcoal;
		background-image:none;
		box-shadow: 0 .7em .8em -.6em #666666;
		opacity:0.95;
		height:auto;
	}	 
	#menu-bar {	max-width:1140px; margin:auto;}
	#primary-menu-bar {	margin: 0;}
	.primary-menu-wrapper .primary-menu {
		//float:right;
		margin:0;
		position:relative;
		text-align:right;
		li {
			display:inline;
			margin:0;
			background: url('images/menu-dot.png') center right no-repeat;
			padding-right:0.5em;
			line-height:2.1em;
			a {
				color:white;
				text-decoration:none;
				font-size:1.2em;
				padding: 0 .8em;
				display:inline-block;
			}
			a:hover {
				text-decoration:none;
			}
		}
		li.first {
			position:absolute; 
			left:0; 
			a { display:none;}
			top:-100px;
			background:url('images/white-logo.png') no-repeat left center;
			//text-indent: -999em; 
			text-align: left; 
			width:100px;
			padding-left:1em;
			-webkit-transition: all 400ms ease-in-out;
			-moz-transition: all 400ms ease-in-out;
			-o-transition: all 400ms ease-in-out;
			transition: all 400ms ease-in-out;
			span { color:$red;}
		}
		li.last { 
			background-image:none;
			padding-right:0;
			a{ padding-right:0;}
		}
		a.active-trail { color: #9D9D9D;}
	}
}

//fixed menu
.locked {
	position:fixed;
	top:0;
	z-index:40;
	background: url("images/bedge_grunge.jpg");
	#menu-bar { max-width:1140px;}
	li.first {
		a { display:inline-block !important;}
		top:0px !important;
	}
}

.admin-menu .locked {
	top:29px !important;
}

//
// Flexible Media and Cross browser improvements
// - This can cause issues in table cells where no width is set on the column,
//   only in some versions of webkit and IE 7/8.
// - declaring the width attribute on image elements and using max-width causes
//   the "dissappering images" bug in IE8.
// - Google maps break also, see below for fixes.
//
img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}


// Ethan Marcotte - http://front.ie/l8rJaA
embed,
object,
video {
  max-width: 100%;
}


// Disable flexiblity for IE8 and below
.lt-ie9 {
  img,
  object,
  embed,
  video {
    max-width: none;
  }
}


// Override max-width 100% for map displays, as much as possible anyway...
#map img,
.gmap img,
.view-gmap img,
.openlayers-map img,
#getlocations_map_canvas img,
#locationmap_map img,
.geofieldMap img {
  max-width: none !important;
}


// Improve IE's resizing of images
svg:not(:root) {
  overflow: hidden;
}


// Corrects inline-block display not defined in IE6/7/8/9 & FF3
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}


// Prevents modern browsers from displaying 'audio' without controls
audio:not([controls]) {
  display: none;
}


// Prevent overflowing content
header[role=banner],
.content-inner,
.nav,
.region-sidebar-first,
.region-sidebar-second,
.region-secondary-content,
.region-tertiary-content,
.region-footer {
  overflow: visible;
  word-wrap: break-word;
}


// Helpful classes for hiding content
.element-invisible {
  border: 0;
  clip: rect(1px 1px 1px 1px); // IE6, IE7
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static !important;
  width: auto;
}

.offscreen {
  position: absolute;
  top: -99999em;
  width: 1px;
  height: 1px;
  overflow: hidden;
  outline: 0;
}

.element-hidden {
  display: none;
}
/* Buttons Etc */

.button {
  @include button;
}

.left { float:left;}
.right { float:right;}
.half { width:49%;}

/* HEADER */

#header-wrapper { 
	background:white;
	border-top: .45em solid red; 
	padding-top: .6em;
	height: 6.9em;
	#branding {
		margin-top: .45em;
		margin-left: .7em;
		margin-right: .7em;
		#name-and-slogan {
			h1#site-name {
				text-transform: none;
				a { text-decoration:none;}
				strong { color:#333333;}
			}
		}
	}
	.container {
		max-width:1140px;
		margin:auto;
	}
	.pane-pane-header {
		float:left;
		position:absolute;
		#logo {	width:auto; float:left; margin-right:1em;}
		#name-and-slogan { 	
			float:left;
			a { color:$red;}
		}
	}
	ul { list-style:none; margin-top:0.5em;}
	.pane-menu-menu-leader-menu { 
		float:right; 
		height: 1.6em;
		margin-bottom: 0;
		ul.menu {
			list-style:none;
			margin:-.9em 0 0 0;
			width:100%;
			li {
				list-style:none;
				padding-bottom: .5em;
				padding-right: 0;
				padding-top: 0;
                @include transition-property(padding-top);
                @include transition-duration(600ms);
                @include transition-timing-function(ease);
				float:left;
				box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .5);
				border-radius: .4em;
				background-color:$red;
				a { 
					background:$red;
					color:white;
					text-decoration:none;
					padding: 1em .6em .7em 0.6em;
					border-radius:.3em;
				}
				a:hover {
                    padding-top: 1.8em;
                }
			}
			li:hover{
				padding-top: .8em;
                @include transition-timing-function(cubic-bezier(0.175, 0.885, 0.33, 1.61));
                @include transition-delay(10ms);
			}
		}
       
	}

	.contact { 
		float:right; 
		a { color:$dark-grey; text-decoration:none; text-align:right; float:right; clear:right; line-height: 1.6em;}
	}

	.social-icons {
		float:right;
		clear:right;
		ul {
			margin-bottom:0;
			margin-top:1.5em;
			margin-left:0;
			li { display:inline;}
		}
	}
}
	

/* main content */

#content-wrapper {
	background-color:transparent; 
	.container { 
		max-width: 1140px;
		padding-top:0.6em;
		/*#block-system-main {	margin:0;}
		.page-content-pane { margin:0;	}
		#three-col-wrap { margin:auto; }
		.region-three-33-top, .region-three-33-bottom {	
			p { margin:0;}
			//.slideshow { background: url('images/slideshow-bg.png') center top repeat-x white; padding-top:10px; box-shadow: 0px 4px 3px 4px rgba(0, 0, 0, .25);  } 
			.bottom-text { background-color:white; margin:0; padding-top:25px;	}
			.map {	background-color:$grey; margin:0; }
			.pane-inner  { margin:auto;}
			
		}*/
	}
}

/* HOME */

.front {
	#messages-help-wrapper {
		background-color:#fff;
		padding-top:1em;		
		.panel-pane {	margin-bottom:0;}
		.container { max-width:1140px;}
		p { margin:0; }
	}
	#secondary-content-wrapper { padding-bottom:2.5em;}
	.region-three-33-top {	
		border-bottom: 4px dotted $red;
		margin-bottom: 2.5em;
		padding-bottom: 1.5em;
		h2 {	font-size:2em; margin-top: .6em; margin-bottom: .5em;} 
		h3 {	font-family: 'Droid Sans'; color:$dark-grey; margin-bottom:.6em;}
	}
	.region-three-33-first,
	.region-three-33-second,
	.region-three-33-third {
		padding-bottom: 1.3em;
		margin-bottom: 1.8em;
		.pane-inner {
			margin-left: .9em;
			margin-right: .9em; 
			h3 { font-size:1.8em; margin-bottom:.5em; text-align:center;}
			
			a.button { 
				background: url('images/read-more-arrow.png') 10% center no-repeat $blue ;
				padding-left: 1.9em;
				font-weight:bold;
				margin-top: 1.6em;
				margin-right: 1.2em;
			}
		}
	}
	.region-three-33-bottom {
		/*.pane-client-map-panel-pane-1 { margin-bottom:40px;  box-shadow: 0 7px 10px -5px #666666; }*/
		.bottom-text { 
			margin-bottom: 1.3em; 
			h2 { margin-bottom: .4em;}
		}
	}
}

/* Basic page */

.node-type-page,
.node-type-case-study {
	#messages-help-wrapper { text-align:center; background:#fff;}
	section {
		max-width:1140px;
		margin:auto;			
	}
	//.pane-inner { margin: 0 1em 0 1em;}
	#content-wrapper {
		background:#fff;
		background-image: url("images/hr-bg.png");
		background-repeat: no-repeat;
		background-size: 100% .8em;
		background-position: bottom center;
	}
	#secondary-content-wrapper {
		.row {
			padding: 1.5em 0 1em 0;
			background-image: url('images/hr-bg.png');
			background-repeat:no-repeat;
			background-size:100% .8em;
			background-position:bottom center;
			img {
				//box-shadow: 5px 5px 5px 0px #666;				
			}
		}
		.views-row-last {
			background:none;			
		}
		.block { margin:0;}
		
	}
	
	.sidebar {
	
		margin-top:4.75em;
		background: url("images/bedge_grunge.jpg") repeat fixed 0 0 transparent;
		//padding:1em;
		.pane-inner { margin:0; }
		ul { list-style:none; margin:0;}
		/*ul.links {			
			li {
				font-size:1.3em;
				padding:0.5em;
				background-color: #f2f2f2;
				border-top:1px solid #ccc;
			}
			li.last { border-bottom: 1px solid #ccc;}
			li.active {
				background-color:#fff;
				margin-right:-1px;
				a { color: $red;}
			}
			a { text-decoration:none;}
			a:hover { text-decoration:underline;}
		}*/		
	}
}

/* slideshow */

.view-slide-show {
	.flexslider {
		border:none;
		box-shadow:none;
		margin-bottom: 2.1em;
		.slides > li {
			position:relative;
		}
	}
	.views-field-field-caption {
		font-size:0.9em;
		position:absolute;
		top:42%;
		margin-left:58%;
		width: 42%;
		h2, h3, p { color:$charcoal;}
		h2 { margin-bottom: .25em;}
		a { text-decoration:none;}
	}
	.flex-control-nav {
		bottom: -2em;
	}
	.flex-direction-nav {
		li a.flex-next {
			background: url("images/arrow_right.png") no-repeat center transparent;
			height:5em;
			width:3em;
			color: transparent;
			text-shadow: none;
		}
		li a.flex-prev {
			background: url("images/arrow_left.png") no-repeat center  transparent;
			height:5em;
			width:3em;
			color: transparent;
			text-shadow: none;
		}
	}
	.flex-control-paging li a {
	    background: none repeat scroll 0 0 $charcoal;
		height: .8em;
		width: .8em;
	}
	.flex-control-paging li a.flex-active {
		background: none repeat scroll 0 0 $red;
	}
}

/* Services */

//sticky menu
.page-services .view-content.serviceLocked { //menu
	position:fixed;
	top: 2.2em;
	z-index:39;
	margin:auto;
	width:100%;
	background-color:white;
	box-shadow: 0 0.7em 0.8em -0.6em #666666;
	nav { max-width:1140px; width:auto; }
	//li { width:17% !important;}
}

//full page styling
.page-services {
	h1.pagetitle { display:none; }
	#content-wrapper { 
		 margin-top:0;
		.container { max-width:100%; margin-top:0; padding-top:0;}
	}
	.pane-inner { margin:0; }
	.attachment-before { width:100%; background-color:white; box-shadow: 0 0.7em 0.8em -0.6em #666666; }
	.view-content { max-width:1140px; margin:auto; }
	.view-display-id-attachment_1 { max-width:1140px; margin:auto; }
}

//actual page
.view-services {
	.attachment {
		margin-bottom:10px;
		ul { list-style-type: none; text-align:center; margin:0;}

		li { 
			display:inline-block; 
			-webkit-transition: width 0.5s; 
			transition:width 0.5s;
			background-position: center left;
			background-repeat:no-repeat;
			

		}
		a { 
			padding:.4em 1em; 
			line-height:1em;
			display:block;
			color:black;
			font-size:1.2em; 
			width:70%; 
			margin-left:40px; 
			background-color:#d5d2cd;
		}

		li:hover a{ 
			background-image:none !important; 
			background-color:$red; 
			color:white;
		}
		
		
	}

	.views-row {
		padding-bottom:0;
		border-bottom: 2px dotted $charcoal;
		margin-bottom:3em;
		img.image-style-none {
			padding-top:14em;
			float: left;
			margin-right: 1.5em;
			margin-bottom: 1em;
			clear:both;
		}
		img { float:right; margin-left:1em; }
		#node-301, #node-302, #node-303, #node-304, #node-305 { padding-top:8em; margin-top:-8em;}
	}
	.views-row-1 { padding-top:40px; img.image-style-none { padding-top:2em; }  }
	.views-row-3 {  img.image-style-none { padding-top:5em; } }
	.views-row-5 {  img.image-style-none { padding-top:9em; } }
	.views-row-last { border-bottom:0; }
}

.section-accessibility, .section-drupal, .section-process, .section-responsive {
	#content-column, #secondary-content-wrapper { padding-bottom:15px;}
	#secondary-content-wrapper { padding-top:1.7em;}
	.sidebar {
		margin-top: 4.75em;
		padding:0;
		background-image:none;
		.pane-inner { margin:0; margin:0;}
		ul { list-style:none; margin:0; }
		ul.links {			
			li {
				font-size:1.3em;
				padding:0.5em;
				background-image:none;
				/*background: url("images/tab-bg.png") repeat-x top transparent;*/
				border-top:1px solid #ccc;
				width:93%; 
				a { color:$charcoal; width:100%; display:block; height:100%;}
			}
			li.last { border-bottom: 1px solid #ccc;}
			li.active, li:hover {
				background-color:white;
				margin-right:-1px;
				background-image:none;
				width:93.25%; 
				a { color: $red;}
			}
			a { text-decoration:none;}
			a:hover { text-decoration:underline;}
		}		
	}
}

/* Client grid */
.page-clients {
	#content-wrapper .container.container { max-width:100%;} //extends client grid to have full-width wrapper
	.pane-title, .top .pane-inner { max-width:1140px; margin:auto;}
	.pane-client-grid-panel-pane-1 {
		background-color:#fff;
		//box-shadow: inset 0px 0px 20px #666;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
		padding-top: 2em;
		padding-bottom:2em;
		.pane-inner {
			max-width:1140px;
			margin:auto;			
		}
		.view-filters {
			margin-bottom:2em;
			text-align:center;
			//.views-exposed-widget { float:none;}
			label { font-weight:normal;	}
			#edit-field-tags-tid-wrapper {
				input { display:none;} //hide check boxes but not labels
				label {
					cursor:pointer;
					border-radius:.2em;
					padding:0.5em;
					background: $blue;
					color: #fff;
					margin-right:1em;
					display:inline-block;
					text-transform:capitalize;
					font-weight:bold;
					border:2px solid $blue;
					box-shadow: 0 0 .7em #333;
				}
				input:checked + label,
				label:hover {
					color:$blue;
					background-color: #fff;					
				}
			}
			.form-item { display:inline; }
			#edit-field-case-studies-nid-wrapper,
			#edit-field-location-wkt-wrapper { display:none;} //hide these filters for now
		}
		.view-footer {
			a {
				cursor:pointer;
				border-radius:.2em;
				padding:0.4em;
				background: $red;
				color: #fff;
				margin-right:1em;
				margin-top:1em;
				display:inline-block;
				text-transform:capitalize;
				font-weight:bold;
				border:2px solid $red;
				box-shadow: 0 0 .7em #333;
				text-decoration:none;
				float:right;
			}
				a:hover {
					color:$red;
					background-color:white;
					text-decoration:none;
					
				}
		}
		.views-quicksand-container { width:auto !important; max-width:1140px; margin:auto;}
		.views-quicksand {
			float:left;
			position:relative;
			max-height: 9.5em;
			a { display:inline-block;}
			//a.has-study { background:url('images/magnify.png') no-repeat top right; }
			a.has-study:hover {
				background:none;
				//cursor:url('images/magnify.png'), -moz-zoom-in;
			}
			img {
				width:100%;
				
			}
			img:hover {
				filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
				filter: gray; /* IE6-9 */
				filter: grayscale(100%);
				-moz-filter: grayscale(100%);
				-ms-filter: grayscale(100%);
				-o-filter: grayscale(100%);
				-webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
				-webkit-transition: all 700ms ease-in-out;
				-moz-transition: all 700ms ease-in-out;
				-o-transition: all 700ms ease-in-out;
				transition: all 700ms ease-in-out;
				opacity:0.5;
			}
			article { margin:0 1em;}
			.caption {
				-webkit-transition: all 700ms ease-in-out; 
				opacity:0; 
				text-align:center; 
				font-size:0.8em;
				width:100%;
				white-space: nowrap;
				position:absolute;
				bottom:15%;
			}
			article:hover .caption { visibility:visible; opacity:1;}
		}
	}
	.pane-client-map-panel-pane-1 { margin-bottom:2.5em;}
}

/* Contact Us Page */

.section-contact {
	.pane-title {
		max-width:1140px;
		margin:auto;
		margin-bottom:0.7em;
	}
	#content-wrapper .container {
		max-width:100%;
		background-color:white;
		background-image:none;
	.region-two-33-66-first .region-inner { margin-right:1em;}
	
	input[type=submit] {
		color:#fff;
		background-color: $red;
		border-radius: .4em .4em .4em .4em;
		cursor:pointer;
		border:none;
		&:hover { opacity:0.8;}
	}
	.form-actions {
		input {
			padding:1em;
		}
	}
	.social { 
		list-style:none;
		margin-left:0; 
		li { float:left; margin-right: 1.5em;}
	}
	.region-two-33-66-colwrap .region-two-33-66-second{ padding-bottom: 2em;}
	/*.region-two-33-66-bottom {
		background: url("images/bedge_grunge.jpg") repeat fixed 0 0 transparent;
		width:100%;
		padding-top:20px;
		input, select,  textarea { 
			border-radius:.3em;
			border: 1px solid #AAAAAA;
			padding:10px;
			max-width:100%;
			max-width:100%;
		}
		.region-two-33-66-colwrap { width:100%;}
		label {
			color:#333333;
			margin-bottom:.5em;
			font-size:1.1em;
		}
	}*/
	}
}


/* Case Studies */

.view-case-studies {
	.views-row {
		//width:25%;
		float:left;
		img { width:100%;}
		.field-image { margin:0 .7em .7em .7em;}
	}
	.views-row-first {
		//width:50%;
	}
	.mosaic-block { width:auto !important; background:none; height:auto !important;}
	.mosaic-overlay { padding-top:1em; height:50%;}
	.mosaic-backdrop { background:none; position:relative;}
	figcaption, .mosaic-overlay .field-content { padding:1em;}
	figcaption { color: #ccc;}
}

/* Careers */
.page-jobs {	
	#content-wrapper  { 
		width:100%;
		background-color:white;
		background-image:none;
		.container { max-width:100%;}
	}
	#careers {
		.region-inner { padding:1em; }
		#anchors .pane-inner {
			box-shadow: 3px 3px 10px 3px #666;
			background-color:#fff;
			padding:1em;
			.view-careers h3{ display: list-item; margin-left: 1em; }
		}
		.view {
			.region-two-50-top {
				font-size:1em;
				color:#444;
				h2 { padding-top:30px;}
				.region-inner { padding:0;}
			}
			.region-two-50-second .region-inner {
				box-shadow: 3px 3px 10px 3px #666;
				background-color:#fff;
				padding:1em;
			}
		}
		.view-footer { margin-top:30px; }
	}
}


/* FOOTER */

#footer-wrapper {
	background: url('images/mountaintops2.png') center top repeat-x transparent; 
	a { color:white;}
	.container {
		max-width:1140px;
		margin:auto;
		padding-top:9em;
	}
	footer {
		font-size:0.9em;
		color:#ccc;
		ul { list-style:none; margin:0;}
		//margin-bottom:2em;
		h2 { color:#ccc;}
		#mini-panel-footer {
			
			.region { margin-bottom:1.5em;}
			.region-four-fourth { margin:0;}
			.region-four-first {
				//width:65%;
				.photo { float:left; margin-right:1em;}
				address {
					float:left;
					//width:50%;
					.region { float:none;}
					.org, .email, .tel, .geo, .social, .category { display:none;}
				}
			}
			.region-four-second {
				//width:35%;
				li { display:inline-block;}
			}
			.region-four-third {
				span { width: 4em; display:inline-block;}
			}
			.quote-button {
				background: $red;
				color: white;
				text-decoration: none;
				padding: .5em .7em;
				border-radius: .3em;
				box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
				font-size: 1.1em;
			}
		}
		.subtle {
			text-align:center;
			font-size:0.8em;
			a { color: #ccc;}
			#copyright { margin-right:1em; padding-right:1em; border-right: 1px solid #ccc;}
		}
	}
}

