
@import "base.scss";

/**
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - There is an scss (SASS) version of this file in the /sass/ directory in your
 *   sub-theme, if you set Compass to watch it or the directory this file will be
 *   overwritten!
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

html {
  font-size: 112.5%; /* Increase the body font size on small devices */
  //color:green;
}

.pane-pane-header {}
.pane-menu-menu-leader-menu {
	position:absolute;
	right:0;
}

#name-and-slogan { 	
	font-size:0.5em;
}

#nav-wrapper {
	.primary-menu-wrapper .primary-menu {
		text-align:center;
		float:none;
		li { 
			float:none;
			background:none;
			display:inline;		
		}
	}
}

 /* Case Studies */
.view-case-studies {
	.views-row {
		width:50%;
		font-size:0.8em;
	}
	.views-row-first {
		width:100%;
	}
}

/* Client grid */
.pane-client-grid-panel-pane-1 {
	.views-quicksand {
		width:33%;
	}
}

#mini-panel-footer {
	.region-inner { margin-left:2em;}
}


 /* Services */
.page-services .view-content.serviceLocked { //menu
	left:0;
	top: 4.3em;
}
.view-services {
	.attachment {
		ul { text-align:left; margin:0;}
		li { display:block; margin-bottom:.3em;}
		a { padding:1%; margin-left: 2.9em; height: 1em; padding: .4em;}
	}
	.views-row img.image-style-none { padding-top: 0em; }
	.views-row-3 img.image-style-none { }
	.views-row-5 img.image-style-none {  }
	.views-row-1 img.image-style-none { float:none; }
	.views-row #node-301, .view-services .views-row #node-302, .view-services .views-row #node-303, .view-services .views-row #node-304, .view-services .views-row #node-305 {
		padding-top: 11em;
		margin-top: -11em;
	}
	img { float:none !important; }
}