/* Target IE 6, 7 and 8 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/lt-ie9\.scss}line{font-family:\000037}}
html {
  font-size: 81.3%;
}

/* Contact Us Page */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/lt-ie9\.scss}line{font-family:\0000315}}
#contact .region-two-33-66-second {
  width: 66.6667%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/lt-ie9\.scss}line{font-family:\0000318}}
#contact .region-two-33-66-first {
  width: 33.3333%;
}
