/**
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - There is an scss (SASS) version of this file in the /sass/ directory in your
 *   sub-theme, if you set Compass to watch it or the directory this file will be
 *   overwritten!
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000318}}
html {
  font-size: 81.3%;
  /* Increase the body font size on small devices */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000323}}
.pane-pane-header {
  max-width: 75%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000325}}
.pane-pane-header #name-and-slogan {
  max-width: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000330}}
nav {
  font-size: 0.85em;
}

/* Services */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000335}}
.serviceLocked {
  left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000340}}
.view-services .attachment li {
  width: auto;
  margin: 1%;
  background-image: none !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000341}}
.view-services .attachment a {
  height: 1.5em;
  float: none;
  font-size: 1em;
  margin: 0;
  text-align: center;
  padding-top: 0.8em;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000343}}
.view-services .views-row-3 img.image-style-none {
  padding-top: 13em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000344}}
.view-services .views-row-5 img.image-style-none {
  padding-top: 13em;
}

/* Case Studies */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000349}}
.view-case-studies .views-row {
  width: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000352}}
.view-case-studies .views-row-first {
  width: 100%;
}

/* Client grid */
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/disk\/o4875398837\/static\/launchpad_1_golden\/sites\/giantgoat\.com\/themes\/at_gotr\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000361}}
.pane-client-grid-panel-pane-1 .views-quicksand {
  width: 25%;
}
